.resize{
    background-color: rgb(19, 20, 23);
    border-radius: .5rem;
    display: grid;
    border-radius: 0.5rem;
    overflow: hidden;
}
.resize >div{
    border: 1px dashed;
    border-radius: .5rem;
}